.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo {
  position: absolute;
  z-index: 1;
  left: 64px;
  top: 30px;
}
 

.logo_place_header {
  width: 228px;
  height: 32px;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-left:64px;
}

.header__link {
  position: absolute;
  z-index: 1;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  left: 64px;
  font-weight: normal;
}

.header__under_link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

/* Content */
/* Блок content, элемент description*/ 

.description {
  width: 80%;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  color: #2f80ed;
  font-weight: normal;
  width: 175px;
  font-size: 18px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  font-weight: bold;
}

/* Блок content, элемент digits*/ 

.digits {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  flex-direction: column;
}

.section-title {
  margin: auto;
  line-height: 69px;
  font-size: 60px;
  display: flex;
  text-align: center;
  width: 60%;
  justify-content: center;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  padding-top: 20px;
  font-weight: normal;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  justify-content: center;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  padding-left: 0;
  margin: auto;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  list-style: none;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}

.table__text_line-break {
  margin-bottom: 0px;
  margin-top: 20px;
}

/* Блок content, элемент feynman*/ 

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
  padding-top: 100px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  width: 775px;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0px auto 70px;
  line-height: 1.15;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 51px;
  margin: auto;
  position: relative;
}

.feynman__link {
  right: 48px;
  color: #2F80ED;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  top: 50%;
}

/* Блок content, элемент kaufman*/ 

.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 30px;
  background-image: url('../images/kaufman-triangle.svg');
}

/* и элемента с модификатором вида ключ-значение*/
.table__cell_theme_dark {
  margin-right: 0;
  margin-top: 80px;
  width: 200px;
  color: white;
}

/* Footer */
/* Блок footer*/ 

.footer {
  display: flex;
  min-height: 350px;
  color: white;
  background-color: #1F1F1F;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
}

.logo_place_footer {
  left: 0;
  width: 183px;
  height: 35px;
}

.footer__author {
  position: absolute;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  margin: 0;
  bottom: 0;
}

.footer__column_content_info {
  flex-direction: column;
}

.footer__column-heading {
  font-weight: bold;
  margin: 0px;
  line-height: 45px;
  font-size: 18px;
}

.footer__column-links {
  padding-left: 0;
  list-style-type: none;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__column_content_social {
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-left: 0;
  padding-right: 10px;
}
